* {
    font-family: 'Chakra Petch', sans-serif;
    text-align: center;
}

.data0 > *{
    border: none;
    background-color: bisque;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.data1, .data2, .data3, .data4 {
    font-weight: 600;
    padding: 1em;
}

.info1, .info2, .info3, .info4 {
    font-weight: 200;
}

div {
    margin: 10px;
    border: 1px solid rgb(80, 0, 126);
    background-color: rgba(94, 0, 0, 0.219);
    display: flex;
    flex-wrap: wrap;
    flex: 1 1 33%;
}

#imgPokemon{
    content: url(/FrontEnd-Mision-main/04-JavaScript/practica/images/pokedex.jpg);
    height: 400px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex: 0 1 10%;
    text-align: center;
    margin: 20px, 20px, 20px, 20px;
}

body{
    background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png);
}

